.action-popup {
  position: absolute;
  right: 28px !important;
  top: 80px !important;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 12px;
  background-color: white;
}