<div id="end-of-task-help">
  <img src='{{logoURL}}' id='logo' />
  <h1 id="title">
    Help is on the way from {{guideName}}!
  </h1>
  <p>
    - Go find {{guideName}} in the classroom<br>
    - Describe the problem on paper<br>
    - Spend a few minutes discussing it. Remember the role of a peer guide!<br>
    - Come back to your computer and do the next problem. {{guideName}} will be rated based on how well you do!
  </p>
</div>